{{> head }}

{{> navbar }}

<div class="row p-0 m-0">
    <div class="col m-auto">
        <h1>Naturitas</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Corrupti aperiam quas, error maiores libero sit aspernatur 
            nam distinctio perspiciatis nisi inventore maxime quae impedit 
            nulla provident voluptas nihil, totam minus asperiores sapiente! 
            Placeat ratione natus, impedit reprehenderit corrupti atque facere 
            exercitationem tenetur cupiditate perferendis id, soluta asperiores 
            officiis quisquam assumenda.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Corrupti aperiam quas, error maiores libero sit aspernatur 
            nam distinctio perspiciatis nisi inventore maxime quae impedit 
            nulla provident voluptas nihil, totam minus asperiores sapiente! 
            Placeat ratione natus, impedit reprehenderit corrupti atque facere 
            exercitationem tenetur cupiditate perferendis id, soluta asperiores 
            officiis quisquam assumenda.</p>
    </div>
    <div class="col m-auto">
        <img src="assets/img/Header_home_biocop.jpg" alt="img" class="img-thumbnail">
    </div>
</div>

{{> footer }}